---
  layout: default
  title: JSConf EU 2014
  background: background17
  tags: homepage
  description: "JSConf EU, the labour-of-love conference for the JS community in Europe."
---

  <section class="news">
    <h2>News</h2>
    {% for post in site.tags.news limit: 3 %}
      <article>
        {{ post.content }}
      </article>
    {% endfor %}
  </section>


  <!-- <section class="schedule" id="schedule">
    <h2>Rough Schedule</h2>
    {% capture schedule %}{% include schedule.md %}{% endcapture %}
    {{ schedule | markdownify }}
  </section>

  <section class="location" id="location">
    <h2>Location</h2>
    {% include location.md %}
  </section> -->


