/* Colors */
/* main jsconfeu pink */
/* almost black */
/* line 1, ../sass/imports/reset.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 2, ../sass/imports/reset.scss */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 3, ../sass/imports/reset.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, ../sass/imports/reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 5, ../sass/imports/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}

/* line 6, ../sass/imports/reset.scss */
table, th, td {
  vertical-align: top;
}

/* line 7, ../sass/imports/reset.scss */
a img {
  border: none;
}

/* line 8, ../sass/imports/reset.scss */
input:focus {
  outline: 0;
}

/* line 10, ../sass/imports/reset.scss */
strong, b, dfn {
  font-weight: bold;
}

/* line 11, ../sass/imports/reset.scss */
em, i, dfn {
  font-style: italic;
}

/* line 12, ../sass/imports/reset.scss */
sup, sub {
  line-height: 0;
}

/* line 13, ../sass/imports/reset.scss */
pre, code, tt {
  font: 1em Menlo,'andale mono','lucida console',monospace;
  line-height: 1.5;
}

/* line 1, ../sass/imports/main.scss */
body {
  font-size: 87.5%;
  margin: 0 auto;
  line-height: 1.5;
  color: #012019;
  background-color: #fbf6ef;
}

/* fonts */
/* line 11, ../sass/imports/main.scss */
body, input, textarea {
  font-family: "rooney-web", Georgia, serif;
}

/* line 14, ../sass/imports/main.scss */
h1, h2, h3, h4, h5, nav, .button, .info {
  font-family: "p22-underground-sc", sans-serif;
  font-weight: bold;
}

/* line 20, ../sass/imports/main.scss */
.main h1 {
  font-size: 2.5em;
  margin: .5em 0;
}

/* line 25, ../sass/imports/main.scss */
h2 {
  font-size: 2em;
  margin: 1.5em 0 .5em 0;
}

/* line 29, ../sass/imports/main.scss */
h3 {
  font-size: 1.714em;
  margin-bottom: .5em;
}

/* line 33, ../sass/imports/main.scss */
h4 {
  font-size: 1.429em;
  margin-bottom: .5em;
}

/* line 41, ../sass/imports/main.scss */
.container {
  margin: 0 auto;
  padding: 0 2%;
  min-width: 280px;
  max-width: 1280px;
}

/* line 48, ../sass/imports/main.scss */
.header {
  overflow: hidden;
  padding: 1em 0;
  background-color: #fbf6ef;
  color: #4c0025;
}

/* line 55, ../sass/imports/main.scss */
.social_nav {
  margin-bottom: 1em;
  list-style: none;
  font-size: .75em;
  text-align: center;
}
/* line 60, ../sass/imports/main.scss */
.social_nav li {
  display: inline;
  margin: 0 1em;
  text-align: left;
}
/* line 65, ../sass/imports/main.scss */
.social_nav a {
  display: inline-block;
  padding: .25em 0;
}

/* line 73, ../sass/imports/main.scss */
.tickets_on .button, .tickets_on .button:link, .tickets_on .button:visited, .tickets_on .button:hover, .tickets_on .button:focus {
  background: #e10079;
  color: #FFF;
  cursor: default;
}

/* line 80, ../sass/imports/main.scss */
.ticket_info {
  margin-bottom: 0;
  text-align: center;
}
/* line 83, ../sass/imports/main.scss */
.ticket_info i {
  display: block;
  font-size: .75em;
}

/* line 90, ../sass/imports/main.scss */
.tickets_off .button, .tickets_off .button:link, .tickets_off .button:visited, .tickets_off .button:hover, .tickets_off .button:focus {
  background: #f5e8d7;
  color: #FFF;
  cursor: default;
}

/* line 99, ../sass/imports/main.scss */
.button,
.button:link,
.button:visited {
  display: none;
  margin: 0 auto .25em 0;
  padding: .5em 1em;
  font-size: 1.5em;
  background-color: #e10079;
  color: #FFF;
  border: 0;
  border-radius: .25em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  cursor: pointer;
}
/* line 113, ../sass/imports/main.scss */
.button:hover, .button:focus,
.button:link:hover,
.button:link:focus,
.button:visited:hover,
.button:visited:focus {
  background-color: #fe006b;
  color: #FFF;
}
/* line 117, ../sass/imports/main.scss */
.button span,
.button:link span,
.button:visited span {
  font-size: 2em;
  padding-right: .25em;
  vertical-align: middle;
}

/* stage */
/* line 129, ../sass/imports/main.scss */
.stage {
  border-top: 1em solid #f5e8d7;
  border-bottom: 1em solid #f5e8d7;
  overflow: hidden;
}

/* line 135, ../sass/imports/main.scss */
.logo {
  margin: 1em 0;
  float: right;
  position: relative;
  height: 18.3em;
  width: 18.3em;
}
/* line 141, ../sass/imports/main.scss */
.logo .ico-logo, .logo .ico-circle_2014 {
  position: absolute;
}
/* line 144, ../sass/imports/main.scss */
.logo .ico-logo {
  font-size: 12em;
  right: 0;
  bottom: 0;
}
/* line 149, ../sass/imports/main.scss */
.logo .ico-circle_2014 {
  color: #FFF;
  font-size: 12em;
  top: 0;
  left: 0;
}

/* line 157, ../sass/imports/main.scss */
.logo:hover .ico-circle_2014 {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: spin;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: spin;
  -ms-animation-duration: 500ms;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;
  -o-transition: rotate(3600deg);
}

@-moz-keyframes spin {
  /* line 174, ../sass/imports/main.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 175, ../sass/imports/main.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  /* line 178, ../sass/imports/main.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 179, ../sass/imports/main.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 182, ../sass/imports/main.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 183, ../sass/imports/main.scss */
  to {
    transform: rotate(360deg);
  }
}

/* line 188, ../sass/imports/main.scss */
.stage {
  width: 100%;
  overflow: hidden;
  background: #012019 no-repeat 50% 0;
}

/* line 193, ../sass/imports/main.scss */
.background0 .stage {
  background-image: url("/img/top_bollocks.jpg");
  background-position: 50% 70%;
  background-color: #34003e;
}

/* line 198, ../sass/imports/main.scss */
.background1 .stage {
  background-image: url("/img/top_draw.jpg");
  background-position: 50% 70%;
  background-color: #929196;
}

/* line 203, ../sass/imports/main.scss */
.background2 .stage {
  background-image: url("/img/top_group.jpg");
  background-position: 50% 70%;
}

/* line 207, ../sass/imports/main.scss */
.background3 .stage {
  background-image: url("/img/top_mandy_jed.jpg");
  background-position: 50% 40%;
  background-color: #440b40;
}

/* line 212, ../sass/imports/main.scss */
.background4 .stage {
  background-image: url("/img/top_disco.jpg");
  background-position: 50% 50%;
  background-color: #440b40;
}

/* line 217, ../sass/imports/main.scss */
.background5 .stage {
  background-image: url("/img/top_fragment.jpg");
  background-position: 50% 70%;
  background-color: #004bcc;
}

/* line 222, ../sass/imports/main.scss */
.background6 .stage {
  background-image: url("/img/top_bubble.jpg");
  background-position: 50% 70%;
  background-color: #670141;
}

/* line 227, ../sass/imports/main.scss */
.background7 .stage {
  background-image: url("/img/top_punk.jpg");
  background-repeat: repeat;
}

/* line 231, ../sass/imports/main.scss */
.background8 .stage {
  background-image: url("/img/top_pattern.jpg");
  background-position: 50% 60%;
  background-color: #94ced5;
}

/* line 236, ../sass/imports/main.scss */
.background9 .stage {
  background-image: url("/img/top_hack.jpg");
  background-position: 100% 20%;
  background-color: #94ced5;
}

/* line 241, ../sass/imports/main.scss */
.background10 .stage {
  background-image: url("/img/top_js.jpg");
  background-position: 50% 50%;
  background-color: #94ced5;
}

/* line 246, ../sass/imports/main.scss */
.background11 .stage {
  background-image: url("/img/top_location.jpg");
  background-position: 50% 50%;
  background-color: #94ced5;
}

/* line 251, ../sass/imports/main.scss */
.background12 .stage {
  background-image: url("/img/top_location2.jpg");
  background-position: 0% 0%;
  background-color: #94ced5;
}

/* line 256, ../sass/imports/main.scss */
.background13 .stage {
  background-image: url("/img/top_logos.jpg");
  background-position: 50% 60%;
  background-color: #94ced5;
}

/* line 261, ../sass/imports/main.scss */
.background14 .stage {
  background-image: url("/img/top_microphone.jpg");
  background-position: 90% 47%;
  background-color: #94ced5;
}

/* line 266, ../sass/imports/main.scss */
.background15 .stage {
  background-image: url("/img/top_scaffolding.jpg");
  background-position: 50% 50%;
  background-color: #94ced5;
}

/* line 271, ../sass/imports/main.scss */
.background16 .stage {
  background-image: url("/img/top_location3.jpg");
  background-position: 50% 50%;
  background-color: #94ced5;
  background-size: 100%;
}

/* line 277, ../sass/imports/main.scss */
.background17 .stage {
  background-image: url("/img/top_location5.jpg");
  background-position: 50% 60%;
  background-color: #94ced5;
  background-size: 100%;
}

/* line 284, ../sass/imports/main.scss */
.tags_speaker .stage {
  background-repeat: repeat;
  background-color: #B1D0FE;
  cursor: pointer;
}

/* line 290, ../sass/imports/main.scss */
.background_speakers .stage {
  background-repeat: repeat;
  background-color: #B1D0FE;
}

/* main content area */
/* line 297, ../sass/imports/main.scss */
nav {
  text-transform: uppercase;
  letter-spacing: .05em;
}

/* sponsors */
/* line 302, ../sass/imports/main.scss */
.sponsors {
  padding: 2em 0;
  border-top: 1px solid #f5e8d7;
  background: #FFF;
  text-align: center;
}
/* line 307, ../sass/imports/main.scss */
.sponsors .level:not(:last-child) {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #012019;
}
/* line 311, ../sass/imports/main.scss */
.sponsors .sponsor {
  display: inline-block;
}
/* line 314, ../sass/imports/main.scss */
.sponsors img {
  margin-right: 3em;
  margin-bottom: 1.5em;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  vertical-align: middle;
}
/* line 321, ../sass/imports/main.scss */
.sponsors img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* footer */
/* line 329, ../sass/imports/main.scss */
footer {
  padding: 2em 0;
  border-top: 0.5em solid #c6e3d9;
  background: #4c0025;
  color: #FFF;
  text-align: right;
}

/* typography in main content area */
/* line 339, ../sass/imports/main.scss */
.main_column p, .main_column ul, .main_column ol, .main_column dl, .main_column hr, .main_column address {
  margin-bottom: 1.5em;
}
/* line 343, ../sass/imports/main.scss */
.main_column ul {
  list-style: none;
}
/* line 345, ../sass/imports/main.scss */
.main_column ul li {
  position: relative;
  margin-left: 1.5em;
  padding-left: 1.5em;
  text-indent: -.7em;
}
/* line 351, ../sass/imports/main.scss */
.main_column ul > li:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: .6em;
  left: -1.5em;
  width: 1em;
  height: 5px;
  background-color: #c6e3d9;
}
/* line 362, ../sass/imports/main.scss */
.main_column .schedule_list {
  margin-bottom: 4.5em;
}
/* line 364, ../sass/imports/main.scss */
.main_column .schedule_list li {
  margin-left: 0;
  margin-bottom: 1.5em;
  padding: 1em;
  border-top: 0.1875em solid #c6e3d9;
  text-indent: 0;
  background-color: #f9fcfb;
}
/* line 373, ../sass/imports/main.scss */
.main_column .schedule_list > li:before {
  display: none;
}
/* line 376, ../sass/imports/main.scss */
.main_column .schedule_list i {
  display: block;
  color: #74b4b0;
  font-style: italic;
}
/* line 381, ../sass/imports/main.scss */
.main_column .schedule_list p {
  margin-bottom: 1em;
}
/* line 385, ../sass/imports/main.scss */
.main_column .info {
  clear: both;
  color: #c6e3d9;
}
/* line 388, ../sass/imports/main.scss */
.main_column .info li {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0;
  font-size: .875em;
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .05em;
}
/* line 396, ../sass/imports/main.scss */
.main_column .info > li:before {
  display: none;
}

/* line 406, ../sass/imports/main.scss */
blockquote {
  margin: 2.5em 1.5em 3em;
  color: #4c0025;
}
/* line 409, ../sass/imports/main.scss */
blockquote p {
  font-style: italic;
}

/* links */
/* line 418, ../sass/imports/main.scss */
a,
a:link,
a:visited {
  color: #e10079;
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

/* line 426, ../sass/imports/main.scss */
a:hover,
a:active,
a:focus {
  outline: none;
  color: #fe006b;
  text-decoration: none;
}

/* line 434, ../sass/imports/main.scss */
nav ul {
  margin: 1em 0;
  text-align: center;
}
/* line 438, ../sass/imports/main.scss */
nav li {
  display: inline-block;
  padding: .2em .5em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: bold;
}

/* line 446, ../sass/imports/main.scss */
.main {
  padding: 3em 0;
}

/* line 450, ../sass/imports/main.scss */
.main_column {
  max-width: 640px;
  margin: 0 auto;
  background: #FFF;
  overflow: hidden;
  padding: 1.5em 4%;
}

/* line 457, ../sass/imports/main.scss */
section {
  margin: 0 0 4.5em 0;
  padding: 0 3%;
  clear: both;
}

/* line 463, ../sass/imports/main.scss */
section.video {
  margin: 0 0 0 0;
}

/* line 468, ../sass/imports/main.scss */
.talk_video .embed_container {
  margin-bottom: 0.5em;
}
/* line 471, ../sass/imports/main.scss */
.talk_video .video_info {
  margin-bottom: 2em;
}
/* line 472, ../sass/imports/main.scss */
.talk_video .video_info div.subscribe {
  float: right;
}
/* line 474, ../sass/imports/main.scss */
.talk_video .video_info div.subscribe span {
  vertical-align: super;
}
/* line 478, ../sass/imports/main.scss */
.talk_video .video_info .g-ytsubscribe {
  height: 24px;
  width: 140px;
  display: inline-block;
}
/* line 485, ../sass/imports/main.scss */
.talk_video a.slides, .talk_video span {
  line-height: 24px;
}

/* line 490, ../sass/imports/main.scss */
.video_images {
  clear: both;
}

/* line 494, ../sass/imports/main.scss */
article {
  margin-bottom: 4.5em;
}
/* line 496, ../sass/imports/main.scss */
article header {
  margin-bottom: 1em;
  border-bottom: 0.1875em solid #c6e3d9;
}

/* fluid iframes */
/* line 503, ../sass/imports/main.scss */
.embed_container {
  position: relative;
  margin-bottom: 1.5em;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 513, ../sass/imports/main.scss */
.embed_container iframe,
.embed_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 521, ../sass/imports/main.scss */
.person {
  position: relative;
  display: inline-block;
  margin-right: 2em;
}
/* line 525, ../sass/imports/main.scss */
.person span {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #fbf6ef;
}
/* line 531, ../sass/imports/main.scss */
.person a {
  color: #fbf6ef;
}

/* line 536, ../sass/imports/main.scss */
.date {
  color: #74b4b0;
  font-size: .875em;
  font-style: italic;
}

/* line 543, ../sass/imports/main.scss */
.speaker_avatar {
  display: block;
  overflow: hidden;
  text-align: center;
}
/* line 547, ../sass/imports/main.scss */
.speaker_avatar img {
  display: inline-block;
  margin: 0 auto 1em auto;
  width: 200px;
}

/* line 556, ../sass/imports/main.scss */
img.sponsor {
  width: 200px;
  text-align: left;
  float: right;
  margin: 0 0 1em 1em;
}

/* line 564, ../sass/imports/main.scss */
img.sponsor-main,
img.sponsor-no-text {
  width: 100%;
  margin: 0;
  margin-bottom: 2.5em;
}

/* line 570, ../sass/imports/main.scss */
.tags_homepage .extra_events {
  display: none;
}

@font-face {
  font-family: 'jsconfeu';
  src: url("/fonts/jsconfeu.eot?lddv9h");
  src: url("/fonts/jsconfeu.eot?#iefixlddv9h") format("embedded-opentype"), url("/fonts/jsconfeu.woff?lddv9h") format("woff"), url("/fonts/jsconfeu.ttf?lddv9h") format("truetype"), url("/fonts/jsconfeu.svg?lddv9h#jsconfeu") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/imports/icons.scss */
[class^="ico-"], [class*=" ico-"] {
  font-family: 'jsconfeu';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/imports/icons.scss */
.ico-circle_2014:before {
  content: "\6f";
}

/* line 29, ../sass/imports/icons.scss */
.ico-arrow-left:before {
  content: "\2190";
}

/* line 32, ../sass/imports/icons.scss */
.ico-arrow-right:before {
  content: "\2192";
}

/* line 35, ../sass/imports/icons.scss */
.ico-twitter:before {
  content: "\74";
}

/* line 38, ../sass/imports/icons.scss */
.ico-facebook:before {
  content: "\66";
}

/* line 41, ../sass/imports/icons.scss */
.ico-feed:before {
  content: "\72";
}

/* line 44, ../sass/imports/icons.scss */
.ico-google-plus:before {
  content: "\2b";
}

/* line 47, ../sass/imports/icons.scss */
.ico-github-alt:before {
  content: "\67";
}

/* line 50, ../sass/imports/icons.scss */
.ico-youtube:before {
  content: "\79";
}

/* line 53, ../sass/imports/icons.scss */
.ico-circle:before {
  content: "\78";
}

/* line 56, ../sass/imports/icons.scss */
.ico-logo:before {
  content: "\6c";
}

/* line 59, ../sass/imports/icons.scss */
.ico-ticket:before {
  content: "\73";
}

/* --------------- Screens bigger than 580px ----------- */
@media only screen and (min-width: 580px) {
  /* line 3, ../sass/imports/mobile.scss */
  body {
    font-size: 100%;
  }

  /* line 6, ../sass/imports/mobile.scss */
  .social_nav {
    float: left;
    clear: both;
    margin-bottom: 0;
  }
  /* line 10, ../sass/imports/mobile.scss */
  .social_nav li {
    display: block;
    margin: 0;
  }

  /* line 16, ../sass/imports/mobile.scss */
  nav li {
    padding: .2em 1em;
  }

  /* line 22, ../sass/imports/mobile.scss */
  .button,
  .button:link,
  .button:visited {
    display: block;
  }

  /* line 25, ../sass/imports/mobile.scss */
  .tickets {
    float: right;
    overflow: hidden;
  }

  /* line 29, ../sass/imports/mobile.scss */
  .social_nav, .ticket_info {
    font-size: .875em;
  }

  /* line 34, ../sass/imports/mobile.scss */
  .speaker_avatar {
    float: left;
    margin-right: 2em;
  }
}
/* --------------- Screens bigger than 768px ----------- */
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/imports/mobile.scss */
  .main_column {
    width: 100%;
    overflow: hidden;
    padding: 1.5em 4%;
  }
}
