/* --------------- Screens bigger than 580px ----------- */
@media only screen and (min-width: 580px) {
  body {
    font-size: 100%;
  }
  .social_nav {
    float: left;
    clear: both;
    margin-bottom: 0;
    li {
      display: block;
      margin: 0;
    }
  }
  nav {
    li {
      padding: .2em 1em;
    }
  }
  .button,
  .button:link,
  .button:visited {
    display: block;
  }
  .tickets {
    float: right;
    overflow: hidden;
  }
  .social_nav, .ticket_info {
    font-size: .875em;
  }


  .speaker_avatar {
    float: left;
    margin-right: 2em;
  }

}

/* --------------- Screens bigger than 768px ----------- */

@media only screen and (min-width: 768px) {
  .main_column {
    width: 100%;
    overflow: hidden;
    padding: 1.5em 4%;
  }
}
